<div class="container">
  <p><%= @question %></p>
  <p>-You</p>
</div>

<div class="container">
  <p><%= @coach %></p>
  <p>-Your coach</p>
</div>

<div class ="container" id="link">
<%= link_to "Ask another question (at your own risk)!", ask_path %>
</div>
