// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: rgb(240,240,240);
  text-align: center;
}

#question {
  padding: 5px;
}

.container {
  text-align: left;
  margin-top: 20px;
  background: white;
}

#link {
  text-align: left;
  background: rgb(240,240,240);
}

p {
  margin-bottom: 5px;
}
